@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #cfd1d4;
}

table {
    overflow-y: scroll;
    max-height: 90vh;
    max-width: 60vw;
    margin: auto;
}

thead th {
    position: sticky;
    top: 0;
  }

.container {
    padding: 1rem;
    height: 90vh;

}

.dashboard {
    margin: auto;
}

.dashboard-empty {
    margin: auto;
    width: 80%;
}

