body {
    background-color: #cfd1d4;
}

table {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 90vh;
    max-width: 60vw;
    margin: auto;
}

thead th {
    position: sticky;
    top: 0;
  }

.container {
    padding: 1rem;
    min-height: 90vh;
}

.dashboard {
    margin: auto;
}