{% extends "layout.html" %}
{% block title %}
Liabilities
{% endblock %}
{% block body %}

<h1 class="py-2">Liabilities</h1>
<p><em>"The simple definition of a liability is something that takes money out of your pocket."</em></p>
<p><em>- Robert Kiyosaki </em></p>
<br>
<br>
<h4>
    Fill out the table below with all of your outgoings
</h4>
<br>


<form action="" method="post">
    <table class="table table-hover table-striped table-dark">
        <thead>
            <th colspan="3">Your Expenses</th>
            <th>Edit/Delete</th>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense }} </td>
                    <td>$ <input type="number"></td>
                    <td>
                        <select class="form-control">
                            {% for item in frequency %}
                                <option>{{ item }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <a class="add btn btn-secondary">
                            <i class="fa-solid fa-check"></i>
                        </a>
                        <a class="edit btn btn-secondary">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <button class="delete btn btn-secondary">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a class="btn btn-secondary add-new">Add New Expense</a>
                </td>
                <td colspan="2">
                    <a  class="btn btn-secondary">Save My Expenses</a>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% endblock %}