{% extends "layout.html" %}
{% block title %}
Log In
{% endblock %}
{% block body %}
<form action="/login" method="post" class="text-center py-5">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username(class="form-control mx-auto w-auto", placeholder="Username") }}
    </div>
    <div class="mb-3">
        {{ form.password(class="form-control mx-auto w-auto", placeholder="Password") }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
    <p>Dont have an account? <a href="/register">Register here!</a>!</p>
</form>
{% endblock %}